body {
  background: #121212; /* background gelap */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #e0e0e0;
}

.flipbook {
  margin: auto;
}

.page {
  background: #1e1e1e;       /* halaman gelap */
  border: 1px solid #333;    /* border lebih redup */
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  padding: 20px;
  text-align: center;
  color: #e0e0e0; /* teks terang */
}

h2 {
  color: #ffffff; /* judul putih */
}

a {
  color: #bb86fc; /* ungu neon */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
